nav a:visited{
    color:orange;
}

nav a:link{
    color: chartreuse;
    text-decoration: none;
}

body{
    background-color: rgba(128, 0, 128, 0.767);
}

h1[target="name"]{
    color: fuchsia;
}

ul{ 
    list-style-image: url("../Images/facePhoto.jpg");
    text-align: center;
    list-style-position: inside;

}

header{
    text-align: center;
}

footer{
    text-align: center;
}

img{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about{
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-color: tomato;
    text-decoration-thickness: 5px;
}

h1{
    font-family: cursive;
    
}

h2{
    font-family: monospace;
}

h3{
    font-size: 20px;
    font-family: fantasy;
}
