a:visited{
    color:orange;
}

a:link{
    color: chartreuse;
    text-decoration: none;
}

body{
    background-color: rgba(128, 0, 128, 0.767);
}

h1[target="name"]{
    color: fuchsia;
}

ul{ 
    list-style-image: url("../Images/facePhoto.jpg");
}

header{
    text-align: center;
}